.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  max-width: 1200px;
  width: 100%;
  min-height: calc(100vh - 203.88px);
  padding: 20px 40px;
  background-color: white;
  justify-content: center;
}

.header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 20px;
  justify-content: space-between;
}

.logo__right {
  transform: scaleX(-1);
}

.navigation {
  display: flex;
  gap: 30px;
  justify-content: center;
  font-size: 24px;
  flex-wrap: wrap;
}

.link {
  color: #fecc01;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.link--active {
  color: #594312;
}