@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Gochi Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: burlywood;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font: inherit;
}